@import "common_font.css";

:root{
    --main--color:#ff4b23;
    --sub--color: #9f9f9f;
    --content--width:1000px;
    --header--width:1500px;
}


/* 마진 패딩 초기화 */
* {box-sizing: border-box; padding: 0; margin: 0;}

/* 페이지 기본 글꼴과 크기 설정 */
/*body { font-family: "Noto Sans KR";   font-size: 18px; }*/
body {font-size: 18px; font-family: "S-CoreDream-3Light";}
input{font-family: "S-CoreDream-3Light";}
img { border: 0;}
ul { list-style-type: none; }
/* <a> 태그 기본 설정 */
a { display: inline-block; text-decoration: none; }
a:link { text-decoration:none; color: rgb(44, 55, 68); }
a:hover { text-decoration:none; color: rgb(44, 55, 68); }
a:visited { text-decoration:none; color: rgb(44, 55, 68); }
a:active { text-decoration:none; color: rgb(44, 55, 68); }
/* 상단 헤더 */
#top { position: relative; min-width: var(--header--width); height: 60px; margin: 0 auto; }
#top > img { position: absolute; top: 15px; left: 40px; width: 35px;}
#top h3 {  font-family: "TmonMonsori"; position: absolute; top: 9px; left: 75px; font-size: 36px; margin-left: 5px}
/*#top h3 {  font-family: "나눔손글씨 펜"; position: absolute; top: 9px; left: 75px; font-size: 36px;}*/
#top h3 > a{ color: var(--main--color) }
#top > #top_menu { float: right; margin: 11px 60px 0 0; border-radius: 30px; border: 1px solid rgb(44, 55, 68); 
    font-size: 16px; }
#top #top_menu li { display: inline-block; margin: 10px 30px 10px 30px;}
#top #top_menu2 { float: right; margin: 20px 60px 0 0; }
#top #top_menu2>li { display: inline-block; margin-left: 60px; }
/* #top #top_menu2>li>a:hover {
    text-decoration: none;
    border-bottom: 4px solid #f1896a;
} */

.tab_down_menu1 {
    position: relative;
    display: inline-block;
    margin-left: -5.5px;
    /* width: 60px; */
}

.tab_down_menu1>ul a {
    width: 110px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: black;

    text-decoration: none;
    background-repeat:  no-repeat;
    background-size: 0% 90%;
    transition: background-size 0.8s;
}
.tab_down_menu1>ul>li :hover {
    background-position: 50% bottom;
    background-size: 80% 80%;
    background-image: linear-gradient(transparent 80%, #f1896a 60%);
}
.tab_down_menu1>ul {
    position: absolute;
    display: none;
    z-index: 999;
    top: 20px;
    left: -28px;
    margin-top: 20px;
    border-bottom: 0.5px solid #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tab_down_menu1 .down_menu1>li{
    display: block;
    color: black;
    margin-left: 0px;
    margin-bottom: 5px;
}

.tab_down_menu2 {
    position: relative;
    display: inline-block;
    margin-left: -5.5px;
}
.tab_down_menu2 ul{
    position: absolute;
    display: none;
    z-index: 999;
    top: 20px;
    left: -30px;
    margin-top: 20px;
    background-color: white;
    /* background-image: url("../img/todagtodag3.png"); */
    border-bottom: 0.5px solid #cccccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tab_down_menu2 .down_menu2 li{
    display: block;
    color: black;
    margin-left: 0px;
    margin-bottom: 5px;
}
.tab_down_menu2 ul a {
    width: 130px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: black;

    text-decoration: none;
    background-repeat:  no-repeat;
    background-size: 0% 90%;
    transition: background-size 0.8s;
}
.tab_down_menu2 ul li :hover {
    background-position: 50% bottom;
    background-size: 80% 80%;
    background-image: linear-gradient(transparent 80%, #f1896a 60%);
}

/* 하단 푸터 */
footer { height: 100%; background-color: rgb(44, 55, 68);}
#footer_content {position: relative; width: 100%; color: #dddddd; padding: 40px;}
#footer_logo { font-family: "S-CoreDream-4Regular"; font-size: 25px; margin-bottom: 30px; }
#footer_logo_side { position: absolute; top: 40px; right: 100px; font-size: 20px; color: #dddddd; }
#footer_logo_side > a { font-size: 20px; color: #dddddd; text-decoration: underline;}

.footer_text { font-size: 18px;font-family: "S-CoreDream-2ExtraLight";}

/* 맨위로 버튼 */
a#btn_top {
    color: red;
    position: fixed;
    display: none;
    z-index: 999;
    border: 1px solid #cccccc;
    border-radius: 40px;
    background-color: white;
    font-weight: bolder;
    bottom: calc(28% - 30px);
    right: 30px;
    width: 40px;
    height: 41px;
}
a#btn_top .to_the_top {
    margin-left: 2.5px;
    margin-top: 3px;
}
