/* ======================슬라이드 ========================*/
#home_img_bar { min-width: var(--header--width); height: 560px; text-align: center; background-color: white; }
#home_img_bar .slide_image_box img { width: 100%;}

.slideBox { height: 100%; overflow: hidden; position: relative; background-color: black;}
.slide_image_box { position: absolute; width: 100%; height: 100%;}
.slide_image_box a {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.slide_image_box .p1 {text-shadow: 1px 1px 5px #000;
	position: absolute;
	width: 1000px;
	height: 50px;
	text-align: center;
	font-family: "S-CoreDream-6Bold";
	font-size: 40px;
	color: white;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -60px;
}

.slide_image_box .p2 {text-shadow: 1px 1px 5px #000;
	position: absolute;
	width: 1000px;
	height: 50px;
	text-align: center;
	font-family: "S-CoreDream-6Bold";
	font-size: 20px;
	color: white;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -5px;
}

.slide_nav a {
	width: 71px;
	height: 71px;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%);
	background: url('../img/sprites.png') no-repeat;
	text-indent: -9999em;
}

.slide_nav a:first-child { background-position: 0 -20px; margin-left: -30%;}
.slide_nav a:last-child { background-position: -80px -20px; margin-left: 30%;}
.slide_indicator { position: absolute; left: 0; right: 0; top: 630px; text-align: center;}
.slide_indicator a { background-image: url("../img/circle.png"); background-size: 20px; width: 20px;height: 20px; margin-right: 8px; display: inline-block; text-indent: -9999em;}
.slide_indicator a.active { background-image: url("../img/circle_2.png");background-size: 20px;}

/* ==========================검색 박스 ================================*/

.container { width: var(--content--width); margin: 4em auto; align-items: center; display: flex; flex-direction: column; justify-content: center;}

.search { position: absolute; min-width: var(--header--width); top: 470px; height: 150px; background-color: rgba(0, 0, 0, 0.5); width: 100%;}
.search div {display: flex;flex-direction: row;position: relative;width: 600px; height: 150px;margin: 0 auto;--search-top: 35%;}
.search input[type=text] {
	position: absolute;
	width: 600px;
	height: 45px;
	padding: .8em;
	border-radius: 20px;
	outline: none;
	border: none;
	top: var(--search-top);
	left: 50%;
	transform: translate(-50%);
}
.search input[type=text]:hover { outline: none;}
.search button { position: absolute; top: var(--search-top); right: 5px; cursor: pointer; width: 45px; height: 45px; background: transparent; outline: none; border: none;}
.search button img { width: 25px; height: 25px;}


/*===============메인 컨텐츠 =====================*/
.container > div:not(:first-child) {width: 100%}
.location, .today_health_info { --content--height: 360px; height: var(--content--height);}
.location, .today_health_info { border-bottom: 1px solid #d5d6e0;margin-bottom: 30px;}
.location h1, .today_health_info h1, .two_content h1 {font-family: "S-CoreDream-6Bold"}
.location > h1 {display: inline-block;}
.location > span {margin-left: 30px;}
.location > span img {width: 13px;}
.location > span p {display: inline-block;}
.location > div {display: flex;flex-direction: row;position: relative;}
.location > div > div {display: inline-flex;flex-direction: row;}
.location > div > div > p {line-height: 230px;}
.location .hospital_item { text-align: right;position: relative;margin-top: 20px;display: inline-block;width: calc(var(--content--width) / 4 - 10px);height: 280px;margin-left: 14px;border-radius: 30px;overflow: hidden;}

.location .hospital_item img {-webkit-filter: grayscale(40%);z-index: 1;width: 100%;height: 100%; }
.location .hospital_item h3 {z-index: 5;position: absolute;right: 20px;top: 160px; color: white;text-shadow: 1px 1px 5px #000;}
.location .hospital_item p {z-index: 4;position: absolute;right: 20px;bottom: 20px;font-size: 13px;color: white;display: inline-block;width: 80%;text-shadow: 1px 1px 5px #000;}
.location #hospital_more {position: absolute; right: 10px;margin-top: 20px;display: inline-block;width: 140px;height: 230px;margin-left: 20px;background-color: #FFBC42;}

.content {margin-top: 20px;}
.today_health_info {text-align: right;}
.today_health_info .content {display: flex;flex-direction: row;text-align: left;}
.today_health_info .content img {width: 250px;height: 180px;}
.today_health_info .content div {position: relative; margin-left: 20px}
.today_health_info .content div span {position: absolute; right: 10px;bottom: 5px; cursor: pointer;}
.today_health_info .content div h2 {margin-bottom: 20px;}
.today_health_info .content div p {
	width: 730px;
	height: 67%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
}
.two_content {height: 250px;display: flex;flex-direction: row; padding-bottom: 30px}
.notice {margin-right: 20px; }
/*.notice ,.FAQ {height: 100%;}*/
.notice > h1, .FAQ > h1 {display: inline-block;width: 400px }
.FAQ {padding-left: 20px;border-left: 1px solid #d5d6e0}
.notice, .FAQ {width: 50%;}
.content div a {width: 100%;position: relative;}
.content div a > span {position: absolute; right: 0;}

.notice a:hover, .FAQ a:hover, .today_health_info .content div a:hover, .location .hospital_item:hover,.search button img:hover {opacity: 0.7;}