.container {
    min-width: var(--header--width);
    margin: 5em auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container h2{font-family: "S-CoreDream-6Bold";}
.hospital_info{width:60%;font-size: 24px;display: flex;flex-direction: row;align-items: center;position: relative}
.hospital_info img:first-child{width: 75px; margin-right: 20px}
.hospital_info .like_btn{ position:absolute;right:10px;cursor: pointer}
.hospital_info .like_btn img{width: 40px;}
.hospital_info div{display: inline-block; }
.menu{width:60%;margin-top: 20px}
.menu ul{margin:10px;display: flex; border-bottom: 1px solid #d7d7d7
}
.menu ul li{margin-right: 40px;font-size: 18px;cursor: pointer;}
.menu ul .current{font-weight: bolder;padding-bottom:20px;border-bottom: 3px solid var(--main--color)}
.content{ width:57%;
   }
.subject{
    font-family: "S-CoreDream-5Medium";
    font-size: 27px;
    margin-top: 20px;
margin-bottom: 5px}
.subject img{width:24px; margin-right: 10px}

table{
    text-align: center;
    font-family: "S-CoreDream-3Light";

}
th{  border-bottom: 1px solid black;}
th,td{width: 130px}
#map{width:600px;height:500px;}


.hospital_review{max-height: 700px;overflow-y: auto}
.hospital_review p img{width: 27px; margin: 15px 0;}
.hospital_review h4 {display: inline-block}
.hospital_review .user_info img{width: 20px;  margin-right: 10px}
.hospital_review .review_content{padding-left: 25px;}
.hospital_review li{margin: 20px 0; padding-bottom:10px;border-bottom: 1px dashed var(--sub--color);width: 80%}
.hospital_review .user_info{display: flex; align-items: center}
.hospital_review .regist_day{font-size: 14px; color: var(--sub--color); margin-top: 5px;}
