/* 이미지 list 들어가는 부모 */
.list_box{
    position: relative; width: 945px; height: 1080px; margin: 0 auto;
}

.list_box > h2{
	margin-left: 15px;
	margin-top: 70px;
	margin-bottom: 50px;
	font-size: 56px;
}
/* 이미지가 포함된 list들 각 하나 */
.list_box .code_view_anchor{
    width: 280px; height: 255px; margin: 17px; background-color: #ffffff; 
	float: left; overflow: hidden; border: 1px solid rgb(229, 229, 229);
	border-radius: 20px;
	transition: box-shadow 0.1s ease-in 0s;
}
.list_box .code_view_anchor:hover{
	box-shadow: 2px 2px 20px lightgrey;
}
.list_box .imageBox img{
    width: 280px; height: 150px;
}
.list_box .contentBox{
    position: relative; height: 50px; margin: 10px;
}
.list_box .contentBox h3{
	margin-left: 10px; overflow: hidden; font-size: 28px;
}
.list_box .contentBox .content_explain{
	text-align: left; 
	position: absolute; 
	width: 245px; 
	margin-left: 10px; 
	color: rgb(128, 135, 143); 
}
#page_num{
    position: absolute; bottom: 20px; left: 400px;
}
#page_num li{
    float: left; margin: 5px;
}

/* #page_num b{
    position: absolute; bottom: 20px; left: 400px;
} */
.buttons button{
    position: absolute; bottom: 20px; right: 30px;
}
/* 글쓰기 글 삽입 및 수정 폼 */
#wrap{
    position: relative; width: 800px; margin: 0 auto; 
}
#wrap #col2 table{
    border: 1px solid black; border-collapse: collapse;
}
#wrap #col2 table td,tr{
    border: 1px solid black; border-collapse: collapse;
}
#wrap #col2 table td:nth-child(1){
    width:120px;	text-align:center;	padding:5px;	background-color:#eeeeee;
}
#wrap #col2 table td:nth-child(2){
    width:650px;	height:17px;	border:solid 1px #cccccc; margin-top:6px;
}
#wrap #col2 #input_subject{
    width: 99%;
}
#wrap #col2 textarea{
    width: 99%;
}

/* view.php css */

#view_comment{
	margin:10px 0 0 10px;
}

#view_title {
	height:18px;
	padding:10px 8px 8px 8px;  
	border-top:solid 2px #aaaaaa;
	background-color:#eeeeee;
	margin-bottom:5px;
}

#view_title1 {
	float:left;
	width:70%;
}

#view_title2 {
	float:left;
	width:28%;
	text-align:right;
}

#view_content {
	width:96%;
	min-height:200px;
	padding:15px;
	overflow:hidden;
	line-height:150%;
	border-bottom:solid 1px #cccccc;
}

#view_button {
	width:98%;
	text-align:right;
	margin-top:15px;
	margin-bottom:15px;
}

/* write_form css */

#write_form_title {
    margin-top:20px;width:99%;height:20px;text-align:center;padding-top:7px;border-top:solid 2px #aaaaaa;background-color:#eeeeee;
}

#write_form {	margin-top:10px;}
#write_form #write_row1 {    width:99%; 	height:25px; 	margin:2px 0 2px 0; }
#write_form #write_row2 {    width:99%; 	height:25px; 	margin:2px 0 2px 0; }
#write_form #write_row3 {    width:99%; 	height:251px; 	margin:2px 0 2px 0; }
#write_form #write_row4 {    width:99%; 	height:251px; 	margin:2px 0 2px 0; }
.write_line {    width:99%; 	border-bottom:solid 1px #cccccc;}
#write_form .col1 {	float:left;	width:120px;	text-align:center;	padding:5px;	background-color:#eeeeee;}
#write_form #write_row3 .col1 {	height:126px;	padding-top:120px;}
#write_form #write_row4 .col1 {	height:126px;	padding-top:120px;}
#write_form .col2 {	float:left;	margin-left: 8px;	margin-top:2px;}
#write_form #write_row1 .col2 {	float:left;	margin-top:6px;}
#write_form #write_row1 .col3 {	float:left;	margin-top:4px;	margin-left:100px;}
#write_row2 .col2 input {	width:650px;	height:17px;	border:solid 1px #cccccc;}
#write_row3 .col2 textarea{    margin-top:1px;	border:solid 1px #cccccc; width: 100%; height: 100%;}
#write_button {	margin-top:15px;	width:97%;	text-align:right; cursor: pointer;}

.contents_list {
    padding-left: 0px;
padding-right: 0px;
max-width: 1024px;
margin: 0px auto;
box-sizing: border-box;
}
.lists {
    display: flex;
flex-wrap: wrap;
-moz-box-pack: justify;
justify-content: space-between;
padding: 0px;
margin-top: 100px;
margin-bottom: 50px;
list-style: outside none none;
box-sizing: border-box;
}
.category {
    width: 140px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px;
list-style: outside none none;
box-sizing: border-box;
}
.items {
    color: inherit;
text-decoration: inherit;
display: block;
width: 100%;
height: 76px;
border: 1px solid rgba(44, 55, 68, 0.1);
overflow: hidden;
transition-duration: 0.1s;
transition-timing-function: ease-in;
text-align: center;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 25px;
letter-spacing: 1px;
line-height: 3em;
background: rgb(251, 252, 253) none repeat scroll 0% 0%;
cursor: pointer;
box-sizing: border-box;
}

.items:hover {
	background-color: #e7e7e7;
}