@import "../../css/common_var.css";

.container {
	width: var(--content--width);
	margin: 2em auto;
	display: flex;
	flex-direction: row;
	align-items: start;
	/*border: 1px solid black;*/
}

.left_box {display: flex;flex-direction: column;margin-right: 20px;}

.my_page {cursor: pointer;}
.user_info {
	text-align: center;
	width: 180px;
	height: 150px;
	padding: 1em 1em;
	border: 1px solid var(--sub--color);
}

.user_info p:first-child {font-family: "S-CoreDream-5Medium";font-size: 20px;}
.user_info p:nth-child(2) { font-size: 13px;}
.user_info p:last-child {font-size: 13px;color: var(--sub--color);}

.nav_list {padding: 0 10px;margin-top: 30px;}
.nav_menu {margin-bottom: 30px;}
.nav_menu ul {margin-left: 20px;}
.nav_menu li {color: var(--sub--color)}
.nav_menu li a { cursor: pointer;}
.nav_menu .nav_title {font-size: 23px;font-family: "S-CoreDream-6Bold";}

.current_category {color: var(--main--color)}
.current_page {font-weight: bolder;color: black;}

.right_box {	--right_box_width: 800px;width: var(--right_box_width);}

.content {display: flex;flex-direction: column;align-items: center;}
.content_title {
	font-family: "S-CoreDream-4Regular";
	width: 93%;
	padding: 10px;
	margin-bottom: 20px;
	display: block;
	border-bottom: 1px solid var(--sub--color);
	cursor: default;
}
.content_title .my_page {cursor: pointer;}
.content_item {
	padding: 15px;
	display: inline-block;
	width: calc(var(--right_box_width) / 2 - 30px);
	height: 150px;
	margin: 10px;
	border-radius: 20px;
	border: 1px solid #c3c3c3;
}

.content > span:last-child {width: calc(var(--right_box_width) - 30px);}

button {cursor: pointer;}

/* ==========예약 조회 =======================*/
.period {border: 1px solid var(--sub--color);display: flex;flex-direction: row;align-items: center;margin-bottom: 20px;}
.period button {outline: none; border: 1px solid gray;margin-right: 10px;padding: 4px 6px; background-color: transparent}
.period p {display: inline-block;font-size: 20px;padding: 10px 20px;border-right: 1px solid var(--sub--color)}
.period span {padding: 0 20px;}

#appointment_list li {position: relative;border: 1px solid #c3c3c3; margin: 7px 0;}
#appointment_list li span {display: flex;flex-direction: row;padding: 10px}
#appointment_list li a {margin-left: 20px;margin-right: 250px;}
#appointment_list li p {font-size: 14px; font-family: "S-CoreDream-4Regular"}
#appointment_list li button { height: 30px; outline: none;border: none;background-color: var(--main--color);color: white;padding: 4px 10px;position: absolute;bottom: 10px;right: 10px;font-family: "S-CoreDream-5Medium"}
#appointment_list img, #review_pop_content img {width: 60px; }

/* ================ 리뷰관리 ====================*/
#board_list li { padding: 10px 0; border-bottom: 1px solid #6d6d6d; }
#board_list li:first-child {border-top: 3px solid black; background-color: #c6c5c5; font-family: "S-CoreDream-4Regular";}
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 300px; }
#board_list .col2 { width: 130px; }
#board_list .col3 { width: 130px; }
#board_list .col4 { width: 40px; }
#board_list .col5 { width: 100px; }

#review_pop {
	display: none;
	z-index:999;
	width: 100%;
	height: 100%;
	/*box-shadow: 5px 5px 25px gray;*/
}
#review_pop #review_pop_content { width: 800px;height: 820px;background-color: white;color: black;position: absolute; left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);text-align: center;}

#review_pop_content #star_grade span {
	background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}
#review_pop_content #star_grade span.on {
	background-position:0 0;
}

#review_pop_content span {display: flex;flex-direction: row;padding: 10px}
#review_pop_content textarea {width: 90%;height: 90%}

#review_pop #review_pop_content #popup_btn {position: absolute;left: 50%;
	bottom: 10px; cursor: pointer;
	transform: translate(-50%, 0);}

/* 라디오버튼 */
#review_pop .checkbox[type=checkbox], .checkbox[type=radio] {display: none;}
#review_pop label.input-label {
	display: inline-block;
	cursor: pointer;
}
#review_pop label.input-label::before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 30px;
	color: rgb(177, 166, 147);
	-webkit-transition: transform 0.2s ease-out, color 0.2s ease;
	-moz-transition: transform 0.2s ease-out, color 0.2s ease;
	-ms-transition: transform 0.2s ease-out, color 0.2s ease;
	-o-transition: transform 0.2s ease-out, color 0.2s ease;
	transition: transform 0.2s ease-out, color 0.2s ease;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	-moz-transform: scale3d(0.8, 0.8, 1);
	-ms-transform: scale3d(0.8, 0.8, 1);
	-o-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

#review_pop label.input-label.radio::before {
	content: "\f111";
}
#review_pop input.checkbox + label.input-label:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#review_pop input.checkbox + label.input-label:active::before {
	-webkit-transform: scale3d(1.5, 1.5, 1);
	-moz-transform: scale3d(1.5, 1.5, 1);
	-ms-transform: scale3d(1.5, 1.5, 1);
	-o-transform: scale3d(1.5, 1.5, 1);
	transform: scale3d(1.5, 1.5, 1);
}

#review_pop input.checkbox:checked + label.input-label::before {
	display: inline-block;
	font-family: FontAwesome;
	color: #ff3a00;
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
#review_pop input.checkbox:checked + label.input-label.radio::before {
	content: "\f058";
}